body{
	background-image: url(../img/manbu1.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center top;
	width: 100%;
	/*background-color: #B0A7F0;*/
}
.transparent-bg{
	position: top;
	width: 100%;
	height: 560px;
	background-color: transparent;
}
.center-title{

	height: 560px;
	padding-top: 26%;
	padding-bottom: 10%;
	padding-left: 20%;
	padding-right: 20%;
/*	border-style: solid;
	border-radius: 100px;
	border-width: 2px;
	border-color: #F04E4E;*/
}
.center-title h1{
	color: #EB5850;
	font-weight: 900;
	text-align: center;
	word-wrap: break-word;
	transition: all 1.2s ease-in-out;
}
.center-title h1:hover{
	transform:scale(1.5);
}

.center-title h3{
	font-style: italic;
	color: #EB5850 ;
	font-weight: 700;
	text-align: center;
	word-wrap: break-word;
}
.center-title a{
	/*display: inline-block;*/
	text-decoration: none;
	position: relative;
	left: 41%;
	right: 40%;
	top: 10%;
	color: #F12217;
	font-size: 2.2em;
	font-weight: 780;
	border-radius: 8px;
	background-color: transparent;
	padding: 8px;
	border: 2px solid #EB5850;
	transition: all .8s;
}

.center-title a:hover{
	
	/*background-color: #EB5850;
	border: 2px solid #EC615A;*/
	color: red;
	box-shadow: 0px 0 0 2px #EB5850,  0px 0 0 7px #EB5850, 0px 0 0 28px #EB5850 inset;
}

.white-bg{
	position: top;
	width: 100%;
	
	background-color: white;
}
/*.transparent-block{
	position: top;
	width: 100%;
	height: 500px;
	background-color: transparent;
}*/
.md4-left{
	width: 100%;
	height: 500px;
	background-color: #889EEC;
}
.md4-center{
	width: 100%;
	height: 500px;
	background-color: #F08181;
}
.md4-right{
	width: 100%;
	height: 500px;
	background-color: #83EFAA;
}