body{
	background-image: url(../img/manbu3.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center top;
	width: 100%;
	/*background-color: #B0A7F0;*/
}
.transparent-bg{
	position: top;
	width: 100%;
	height: 660px;
	background-color: transparent;
}
.center-line{
	text-align: center;
	margin: 0 auto;

}
.center-title{

	height: 100%;
	padding-top: 26%;
	padding-bottom: 10%;
	padding-left: 20%;
	padding-right: 20%;
/*	border-style: solid;
	border-radius: 100px;
	border-width: 2px;
	border-color: #F04E4E;*/
}
.center-title h1{
	color: #EB5850;
	font-weight: 900;
	text-align: center;
	word-wrap: break-word;
	transition: all 1.2s ease-in-out;
}
.center-title h1:hover{
	transform:scale(1.5);
}

.center-title h3{
	font-style: italic;
	color: #EB5850 ;
	font-weight: 700;
	text-align: center;
	word-wrap: break-word;
}
.center-buy{
	line-height:100px;height:100px;
	text-align: center;
}
.center-buy a{
	/*display: inline-block;*/
	text-decoration: none;
	text-align: center;
	color: #F12217;
	font-size: 2.2em;
	font-weight: 780;
	border-radius: 8px;
	background-color: transparent;
	padding: 8px;
	border: 2px solid #EB5850;
	transition: all .8s;
}

.center-buy a:hover{
	
	/*background-color: #EB5850;
	border: 2px solid #EC615A;*/
	color: red;
	box-shadow: 0px 0 0 2px #EB5850,  0px 0 0 7px #EB5850, 0px 0 0 28px #EB5850 inset;
}

.white-bg{
	position: top;
	width: 100%;
	
	background-color: white;
}
/*.transparent-block{
	position: top;
	width: 100%;
	height: 500px;
	background-color: transparent;
}*/
.md4-left,.md4-center,.md4-right{
	width: 100%;
	height: 250px;
	/*background-color: #889EEC;*/
	text-align: center;
	margin-top: 50px;
}
/*.md4-center{
	width: 100%;
	height: 300px;
	background-color: #F08181;
	text-align: center;
}
.md4-right{
	width: 100%;
	height: 300px;
	background-color: #83EFAA;
	text-align: center;
}*/
.md4-left img,.md4-center img,.md4-right img{
	margin-top: 30px;
	margin-bottom: 30px;
}
.md4-left p,.md4-center p,.md4-right p{
	font-size: 120%;
}

.line{
	border: 1px solid #EB5850; 
	margin: 80px;
}

.history-left,.history-right{
	text-align: center;
	width: 100%;
	height: 250px;
	/*background-color: #EB5850;*/

}
.history-left img,.history-right img{
	max-width: 100%;
	height: auto;
}
.history-left-title,.history-right-title{
	height: 250px;
	text-align: left;
	padding-top: 15%;
	padding-left: 10%;
	/*background-color: #93DA5F;*/
}

.foot {
	text-align: center;
}
.foot-title{
	padding: 10px;
	border-right: 1px solid #EB5850;
	border-left: 1px solid #EB5850;
}