<extend name="Public:base" />
<block name="content">
	<div class="content">
		<div class="header">

			<h1 class="page-title">商品</h1>
			<ul class="breadcrumb">
				<li><a href="index.html">主页</a> </li>
				<li class="active">商品列表</li>
			</ul>

		</div>
		<div class="main-content">

			<div class="btn-toolbar list-toolbar">
				<button class="btn btn-primary"><i class="fa fa-plus"></i> New User</button>
				<button class="btn btn-default">Import</button>
				<button class="btn btn-default">Export</button>
				<div class="btn-group">
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>商品名</th>
						<th>商品价格</th>
						<th>创建时间</th>
						<th>更新时间</th>

						<th style="width: 3.5em;">操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="userlists.lists" item="ul">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<a href="{:U('User/edit',array('id'=>$ul['userid']))}"><i class="fa fa-pencil"></i></a>
								<a href="#myModal{$ul['userid']}" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>

								<div class="modal small fade" id="myModal{$ul['userid']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												<h3 id="myModalLabel">删除	消息提示</h3>
											</div>
											<div class="modal-body">
												<p class="error-text"><i class="fa fa-warning modal-icon"></i>您确定要删除该用户吗?<br>这是不可回退操作.</p>
											</div>
											<div class="modal-footer">
												<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
												<button onclick="window.location.href='{:U('User/delete',array('id'=>$ul['userid']))}'" class="btn btn-danger" data-dismiss="modal">删除</button>
											</div>
										</div>
									</div>
								</div>

							</td>
						</tr>
					</foreach>
					<tfoot>
						<th colspan="6">{$userlists.page}</th>
					</tfoot>
				</tbody>
			</table>

			<footer>
				<hr>

				<!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
				<p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
				<p>© 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
			</footer>
		</div>
	</div>
</block>